<html>
    <head>
        <link rel="stylesheet" href="/styles/design.css">
    </head>


    <body>
        
        <h1>WELCOME</h1>

        <p> <%= id %> </p>
        <p> <%= username %> </p>

    </body>
</html>



